<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>LightJason - Miner</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik"/>
        <link rel="stylesheet" href="/layout.css" />
    </head>
    <body id="react">
        <script src="built/bundle.js"></script>
    </body>
</html>