<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>LightJason - Miner</title>

        <link rel="stylesheet" href="app/styles.css"/>

        <script src="//cdnjs.cloudflare.com/ajax/libs/phaser/3.16.2/phaser.min.js" crossorigin="anonymous"></script>
        <script defer src="//use.fontawesome.com/releases/v5.8.1/js/solid.js" crossorigin="anonymous"></script>
        <script defer src="//use.fontawesome.com/releases/v5.8.1/js/fontawesome.js" crossorigin="anonymous"></script>
    </head>
    <body id="app">
        <script src="app/app.js"></script>
    </body>
</html>