@import url(//fonts.googleapis.com/css?family=Rubik:200,300,400,700);
$font-family-base:Rubik;
$headings-font-family:Rubik;

/* https://medium.com/@programmiri/my-favored-scss-setup-with-bootstrap-4-547e9ea290f8 */

$enable-rounded:false;
$enable-grid-classes:false;
$primary:#2f3c48;
$secondary:#6f7f8c;
$success:#3e4d59;
$danger:#cc330d;
$info:#5c8f94;
$warning:#6e9fa5;
$light:#eceeec;
$dark:#1e2b37;


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/navbar";


@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';


html, body {
    background: $dark;
    color: $light;
    font-family: $font-family-base;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    padding-left: 100px;
    height: 100%vh;
}

.spacepad {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: $light;
    text-decoration: none;
}

a:hover {
    background:$success;
}

.agents {
    padding-top: 0;
    margin-top: 0.1em;
}


.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 36px;
    top: 36px;
}

.bm-burger-bars, .bm-burger-bars-hover, .bm-cross {
    background: $light;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: $secondary;
    padding: 2.5em 1em 0 1.5em;
}

.bm-item {
    display: inline-block;
}

.bm-morph-shape {
    fill: $success;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

