@import url(//fonts.googleapis.com/css?family=Rubik:200,300,400,700);


$font-family-sans-serif: Rubik, sans-serif;
$font-size-base: 1.125rem;

$light: #eceeec !default;
$dark: #1e2b37 !default;
$primary: #2f3c48 !default;
$secondary: #6f7f8c !default;
$success: #3e4d59 !default;
$info: #5c8f94 !default;
$warning: #6e9fa5 !default;
$danger: #cc330d !default;

$gray-base: $dark;
$body-bg: $dark;
$text-color: $light;
$modal-content-bg: $secondary;


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/navbar";

@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/cobalt.css';


html, body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    background: $body-bg;
    color: $text-color;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    padding-left: 100px;
    height: 100%vh;
}

.spacepad {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: $light;
    text-decoration: none;
}

a:hover {
    background: $success;
}

.agents {
    padding-top: 0;
    margin-top: 0.1em;
}


.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 36px;
    top: 36px;
}

.bm-burger-bars, .bm-burger-bars-hover, .bm-cross {
    background: $light;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: $secondary;
    padding: 2.5em 1em 0 1.5em;
}

.bm-item {
    display: inline-block;
}

.bm-morph-shape {
    fill: $success;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

