@import "~bootstrap/scss/bootstrap";

//$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
//@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
//@import "~@fortawesome/fontawesome-free/scss/solid.scss";

/* https://fontawesome.com/how-to-use/on-the-web/using-with/sass */
/* https://stackoverflow.com/questions/33649761/how-do-i-load-font-awesome-using-scss-sass-in-webpack-using-relative-paths */


html, body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: #444;
    color: white;
}

main {
    padding-left: 100px;
}

a, a:hover {
    color: #00ff99
}





/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #ccc;
}

/* Color/shape of burger icon bars on hover*/
/* Color/shape of close button cross */
.bm-burger-bars-hover, .bm-cross {
    background: #00ff99;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #777;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}